# Auto detect text files and perform LF normalization
* text=auto

# Ruby files
*.rb text eol=lf
*.rake text eol=lf
Rakefile text eol=lf
Gemfile text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Docker files
Dockerfile text eol=lf
docker-compose.yml text eol=lf 